#root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
    font-family: 'Hind Siliguri', sans-serif;
    background-image: url(https://www.filterforge.com/filters/2999.jpg);
}

.main-container {
    padding-bottom: 20px;
    margin-bottom: 80px;
}

img {
    height: auto;
}

#image-page-not-found {
    display: block;
    margin: 0 auto;
}